@charset "utf-8";
/* CSS Document */
html, body{ margin:0; padding:0; /*min-width:1140px;*/ font-family:Verdana, Geneva, sans-serif; font-size:11px;}
body{ background:url(../images/cm-theme/bg-main2.jpg) no-repeat top center #fee1b3; }
* {outline: none;}

a{text-decoration:none; color:#FFF;}
a.forgetPass{color:#F00;}
a:hover.forgetPass{ color:#fdbe00}
/*input:focus, textarea:focus, a.sms:focus, a.email:focus, a.btn-red-s:focus, a.btn-red:focus{
background-color: lightyellow; outline: 1px solid lime;
}*/
img{border:0;}
.clear{clear:both;}

h1.title{background:url(../images/cm-theme/title-h1.jpg) repeat-x; height:25px; display:block; margin:10px; padding:7px 10px 0 10px; color:#FFF; font-size:16px; font-weight:normal; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; text-align:center; text-transform:uppercase; font-weight:bold;}
h2.title{background:url(../images/cm-theme/title-h1.jpg) repeat-x; height:25px; display:block; margin:10px; padding:7px 10px 0 10px; color:#FFF; font-size:16px; font-weight:normal; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; clear:both;}
h3.title{font-size:22px; color:#ca2027; font-weight:bold; padding:0; margin:10px; text-align:center; text-shadow: #775901 1px 1px 4px;}
h4.title{margin:0 0 0 5px; padding:0 0 0 0; /*border-bottom:1px solid #fff;*/ color:#FFF;}
h5.title{background:url(../images/cm-theme/title-h1.jpg) repeat-x; height:25px; display:block; margin:0; padding:7px 10px 0 10px; color:#FFF; font-size:16px; font-weight:normal; clear:both;
-webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;}
/*label and input class*/
input:focus, textarea:focus{background-color: lightyellow; outline:none;}
input{font-size:12px;}
label.text{display:block; float:left; height:23px; line-height:23px; width:105px; color:#FFF; margin-top:5px; margin-left:5px;}
label.text-regis{display:block; float:left; height:23px; line-height:23px; width:80px; color:#000; margin-top:15px; margin-left:20px;}
input.input-login-box{background:url(../images/cm-theme/txt-input-gray.png) no-repeat; width:193px; height:23px; line-height:19px; border-style:none; margin-top:5px; padding:2px 10px; color:#FFF;}
input.input-regis-box{background:url(../images/cm-theme/txt-input-yellow.png) no-repeat; width:193px; height:23px; line-height:19px; border-style:none; margin-top:15px; padding:1px 10px; color:#000;}
.btn-register{width:300px !important; margin-left:10px; margin-top:15px !important;}
.register-facebook{background:url(../images/cm-theme/facebook-register.png) no-repeat; width:330px; height:80px; display:block; float:left; margin-top:10px;}
.register-facebook span{display:none;}

input.input-regis-box::-webkit-input-placeholder { color:#946300; }
input.input-regis-box::-moz-placeholder { color:#946300; } /* firefox 19+ */
input.input-regis-box:-ms-input-placeholder { color:#946300; } /* ie */
input.input-regis-boxinput:-moz-placeholder { color:#946300; }

.login-span-box{display:block; padding-left:110px; color:#FFF;}
.txt-register{padding-top:8px;}

.formfield_01 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; /*line-height: 25px;*/ font-weight: bold; font-variant: normal; color: #393737; background-color: #f3e5bd; background-image: url(../images/cm-theme/field_norm.gif); background-repeat: repeat-x; height: 15px; width: 300px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #73530f; border-right-color: #d7a436; border-bottom-color: #c6b082; border-left-color: #895d00; -moz-border-radius: 5px; border-radius: 5px; float:left; padding:5px;}
.formfield_01:focus { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; /*line-height: 25px;*/ font-weight: bold; font-variant: normal; color: #393737; background-color: #c3ed9a; background-image: url(../images/cm-theme/field_focus.gif); background-repeat: repeat-x; height: 15px; width: 300px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #3a5320; border-right-color: #72984c; border-bottom-color: #919c86; border-left-color: #395d15; -moz-border-radius: 5px; border-radius: 5px; padding:5px;}

select.formfield_01, select.formfield_01:focus { height:28px; width:250px;}
.date{width:50px !important; margin-right:5px !important;}
.month{width:160px !important; margin-right:5px !important;}
.year{width:90px !important;}

a.btn-yellow{display:block; background:url(../images/cm-theme/btn-yellow.png) repeat-x; width:170px; height:25px; color:#000; text-align:center; line-height:26px; font-size:12px; font-weight:bold; text-shadow: #fff 1px 1px 4px; float:right; margin-top:8px; border:2px solid #1c1d20; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin-right:5px;}
a:hover.btn-yellow{color:#663300;}
.facebook-log{background:url(../images/cm-theme/face-login.png) 0 -2px no-repeat !important ;}

a.btn-yellow-s{display:block; background:url(../images/cm-theme/btn-yellow.png) repeat-x; width:90px; height:25px; color:#000; text-align:center; line-height:26px; font-size:12px; font-weight:bold; text-shadow: #fff 1px 1px 4px; float:right; margin-top:8px; border:2px solid #1c1d20; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin-right:5px;}
a:hover.btn-yellow-s{color:#663300;}

a.btn-yellow-left{display:block; background:url(../images/cm-theme/btn-yellow.png) repeat-x; width:170px; height:25px; color:#000; text-align:center; line-height:26px; font-size:12px; font-weight:bold; text-shadow: #fff 1px 1px 4px; float:left; margin-top:8px; border:2px solid #1c1d20; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin-right:5px;}
a:hover.btn-yellow-left{color:#663300;}

a.btn-yellow-long{display:block; background:url(../images/cm-theme/btn-yellow.png) repeat-x; width:300px; height:25px; color:#000; text-align:center; line-height:26px; font-size:12px; font-weight:bold; text-shadow: #fff 1px 1px 4px; float:left; margin-top:8px; border:2px solid #1c1d20; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin-right:5px;}
a:hover.btn-yellow-long{color:#663300;}

a.btn-red{display:block; background:url(../images/cm-theme/btn-red.png) repeat-x; width:210px; height:25px; color:#fff; text-align:center; line-height:26px; font-size:12px; font-weight:bold; text-shadow: #000 1px 1px 4px; float:left; margin-top:8px; border:2px solid #1c1d20; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
a:hover.btn-red{color:#fdbe00; text-shadow: #700c03 1px 1px 4px;}

a.btn-red-s{display:block; background:url(../images/cm-theme/btn-red.png) repeat-x; width:auto; padding:0 5px; height:25px; color:#fff; text-align:center; line-height:26px; font-size:12px; font-weight:bold; text-shadow: #000 1px 1px 4px; float:left; margin-top:0; border:2px solid #1c1d20; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
a:hover.btn-red-s{color:#fdbe00; text-shadow: #700c03 1px 1px 4px;}

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

/*Top Menu& Logo*/
#warper{width:1024px; margin:0 auto; height:auto;}
#container-top-menu{width:1024px; height:102px;}

/*change theme*/
#container-logo{background:url(../images/cm-theme/logo.png) no-repeat; width:377px; height:102px; float:left;}
/*#container-logo{background:url(../images/cm-theme/new-year-theme/logo.png) no-repeat; width:377px; height:102px; float:left;}*/
#top-bg{width:1024px; min-height:102px; background:url(../images/cm-theme/bg.jpg) center top no-repeat; margin:0 auto;}
#grid-container{background:url(../images/cm-theme/bg-top.png) repeat-x top;}

#container-menu-icon{height:102px; width:647px; float:left;}
#container-menu-icon ul{display:block; margin:13px 0 0 0; padding:0; float:left;}
#container-menu-icon ul li{display:block; float:left; margin-left:15px;}
#container-menu-icon ul li a span{width:58px; color:#FFF; text-align:center; display:block; padding-top:8px; text-shadow: #000 1px 1px 2px;}
#container-menu-icon ul li a:hover{opacity:0.7; filter:alpha(opacity=70);}

#container-coin{float:right; color:#FFF; margin:5px; text-align:center; line-height:20px; font-size:11px; text-shadow: #000 1px 1px 2px; padding:10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; /*background-color:rgba(253,190,0,0.2); border:2px solid #000;*/ margin-top:25px;}
#container-coin strong{color:#fdbe00; font-size:14px;}
/*End*/

/*Content*/
#container-content{height:auto; float:left; /*background-color:rgba(252,138,0,0.5);*/ -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; margin:10px 0; border:2px solid rgba(0,0,0,0.1); width:1020px; background:url(../images/cm-theme/bg-y1.png);}
#container-content-white{height:auto; float:left; background-color:rgba(231,227,234,0.8); -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; margin:10px 0; border:2px solid rgba(0,0,0,0.1); width:1020px;}

/*Favorite*/
#container-favorite{height:auto; float:left; background-color:rgba(252,138,0,0.5); -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; margin:10px 0; border:2px solid rgba(0,0,0,0.1); width:1024px;}

/*Search*/
#container-content-search{height:auto; float:left; /*background-color:rgba(231,227,234,0.8);*/ background:url(../images/cm-theme/seach-bg.png) no-repeat; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; margin:10px 0; border:2px solid rgba(255,255,255,0.8); width:1024px; height:368px; box-shadow: 1px 1px 5px #000;}
ul#container-btn-quick-search{display:block; margin:0; padding:0; width:462px; float:left;}
ul#container-btn-quick-search li{margin:0; padding:0; display:block; width:114px; margin-left:40px; float:left; margin-top:20px;}
ul#container-btn-quick-search li a img{float:left;}
ul#container-btn-quick-search li a p{display:block; text-align:center; float:left; width:114px; color:#000; margin:0; padding:0; text-shadow: #fff 1px 1px 3px;}
ul#container-btn-quick-search li a{opacity:0.8; filter:alpha(opacity=80); display:block; float:left;}
ul#container-btn-quick-search li a:hover{opacity:1; filter:alpha(opacity=100); font-weight:bold;}
#container-seach-form{float:left; width:390px; height:308px; margin:30px 0 0 140px; line-height:35px;}
#container-seach-form label{display:block; float:left; width:130px; height:30px; line-height:30px; font-size:14px; font-weight:bold;}

/*Profie HomePage*/
#container-content-profile-home{height:auto; float:left; /*background-color:rgba(176,123,56,0.8);*/ -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; margin:10px 0; border:2px solid rgba(255,255,255,0.8); width:1020px; height:auto; box-shadow: 1px 1px 5px #000; background:url(../images/cm-theme/bg-box_03.png) repeat-x #bf8f50;}

/*profile list*/
ul#container-profile-list{display:block; margin:10px 0 0 10px; padding:0;}
ul#container-profile-list li{display:block; margin:0; padding:0; width:120px; /*height:141px;*/ height:auto; max-height:141px; float:left; margin:0 6px 6px 0;}
ul#container-profile-list li a div.profile-list{display:block; width:120px; height:121px; overflow:hidden;}
ul#container-profile-list li a div.profile-list div.boder-profile-img{z-index:10; position:relative;}
ul#container-profile-list li a div.profile-list div.img-profile{z-index:5; position:relative; top:-119px; left:4px;}
ul#container-profile-list li a:hover div.profile-list div.img-profile{opacity:0.7; filter:alpha(opacity=70);}
ul#container-profile-list li p {margin:0; padding:5px 5px 0 5px; text-align:center; color:#000; text-shadow: #fff 1px 1px 5px; height:20px;}

/*photoalbum*/
ul#container-photoalbum-list{display:block; margin:10px 0 0 10px; padding:0;}
ul#container-photoalbum-list li{display:block; margin:0; padding:0; width:120px; /*height:141px;*/ height:auto; max-height:121px; float:left; margin:0 6px 6px 0;}
ul#container-photoalbum-list li a div.profile-list{display:block; width:120px; height:121px; overflow:hidden;}
ul#container-photoalbum-list li a div.profile-list div.boder-profile-img{z-index:10; position:relative;}
ul#container-photoalbum-list li a div.profile-list div.img-profile{z-index:5; position:relative; top:-119px; left:4px;}
ul#container-photoalbum-list li a:hover div.profile-list div.img-profile{opacity:0.7; filter:alpha(opacity=70);}
ul#container-photoalbum-list li p {margin:0; padding:5px 5px 0 5px; text-align:center; color:#000; text-shadow: #fff 1px 1px 5px; height:20px;}

/*profile list most*/
.container-most{width:564px; float:right; overflow:scroll; overflow-y: hidden; overflow-x: scroll;}
/* Let's get this party started */
.container-most::-webkit-scrollbar {
    width: 1px;
}
 
/* Track */
.container-most::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px;} 
/* Handle */
.container-most::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background: rgba(255,0,0,0.8);  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
.container-most::-webkit-scrollbar-thumb:window-inactive {background: rgba(255,0,0,0.4); }
ul#container-profile-list-most{display:block; margin:0 0 0 20px; padding:0; /*width:5000px;*/ float:left;}
ul#container-profile-list-most li{display:block; margin:0; padding:0; width:88px; /*height:141px;*/ height:auto; max-height:89px; float:left; margin:0 0 6px 6px;}
ul#container-profile-list-most li a div.profile-list-most{display:block; width:88px; height:89px; overflow:hidden;}
ul#container-profile-list-most li a div.profile-list-most div.boder-profile-img-most{z-index:10; position:relative;}
ul#container-profile-list-most li a div.profile-list-most div.img-profile-most{z-index:5; position:relative; top:-88px; left:3px;}
ul#container-profile-list-most li a:hover div.profile-list-most div.img-profile-most{opacity:0.7; filter:alpha(opacity=70);}
ul#container-profile-list-most li p {margin:0; padding:5px 5px 0 5px; text-align:center; color:#000; text-shadow: #000 1px 1px 3px; height:20px;}

.txt-new-alert{ width:300px; float:left;}
a.notifications-box{display:block; width:200px; height:21px; font-weight:bold; color:#fff; float:left; margin-left:15px; margin-top:5px; line-height:21px; padding-left:30px;}
a:hover.notifications-box{color:#fdbe00;}
a.notifications-box.message{background:url(../images/cm-theme/s-icon.png) no-repeat;}
a.notifications-box.pokes{background:url(../images/cm-theme/s-icon-02.png) no-repeat;}
a.notifications-box.fav{background:url(../images/cm-theme/s-icon-03.png) no-repeat;}
a.notifications-box.gif{background:url(../images/cm-theme/s-icon-04.png) no-repeat;}

.link-profile-img{display:block; position:relative; z-index:44;}
.container-quick-icon{position:relative; top:-67px; z-index:55;}
.container-quick-icon-foto{position:relative; top:-43px; z-index:55;}

a.quick-icon-left{display:block; float:left; margin:0 0 0 2px; width:47px; height:39px;}
a.quick-icon-right{display:block; float:right; margin:0 2px 0 0; width:47px; height:39px;}
a.message-icon{background:url(../images/cm-theme/icon-mes.png) no-repeat;}
a:hover.message-icon{background:url(../images/cm-theme/icon-mes-over.png) no-repeat;}
a.fav-icon{background:url(../images/cm-theme/icon-fav.png) no-repeat;}
a:hover.fav-icon{background:url(../images/cm-theme/icon-fav-over.png) no-repeat;}
.fav{float:right; margin:0 2px 0 0; width:47px; height:39px;}
a.view-icon{background:url(../images/cm-theme/icon-view.png) no-repeat;}
a:hover.view-icon{background:url(../images/cm-theme/icon-view-over.png) no-repeat;}
a.del-icon{background:url(../images/cm-theme/icon-del.png) no-repeat;}
a:hover.del-icon{background:url(../images/cm-theme/icon-del-over.png) no-repeat;}

a.del-icon-g{background:url(../images/cm-theme/icon-del-g.png) no-repeat;}
a:hover.del-icon-g{background:url(../images/cm-theme/icon-del-g-over.png) no-repeat;}

#container-top-content-area{float:left; width:1024px;}
/*Profile Online*/
#container-profile-online{width:645px; float:right;}
#container-profile-online-login{/*width:495px; float:left;*/ }
/*Profile-Page*/
.profile-detail{float:left; width:835px; line-height:20px; margin-top:10px; margin-left:10px; padding:10px; background-color:rgba(255,255,255,0.5); border:2px solid rgba(0,0,0,0.1); -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}

/*Login and register*/
#container-top-content-sub-l{float:left; width:350px; height:auto; margin-left:25px; margin-top:10px;}
#container-login-box{float:left; background:url(../images/cm-theme/bg-login-box.png) repeat-x #23272e; width:350px; height:150px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.container-boder-login{border:1px solid #2b2d32; margin:10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; height:auto; float:left; padding-bottom:10px;}
.icon-login{width:51px; height:44px; position:relative; top:-175px;}

#container-register-box{width:348px; height:auto; float:left; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; /*background-color:rgba(252,138,0,0.5);*/ 
border:2px solid rgba(0,0,0,0.1); margin-top:10px; background:url(../images/cm-theme/bg-y1.png);}
.container-boder-register{border:1px solid #b98a00; margin:8px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; height:auto; float:left;/* padding-bottom:10px;*/}

/*footer*/
.container-footer{width:100%;  position:relative; background:#59669d;}
#container-footer{height:80px;  width:1024px !important; background:#59669d; color:#FFF; text-align:center; padding:0 0 0 0; margin:0; line-height:80px; margin:0 auto;}
#container-footer a{color:#FFF;}
#container-footer a:hover{color:#fdbe00;}

/*Pure CSS speech bubbles*/
.profile-page-register{/*background-color:rgba(0,0,0,0.5);*/ border:2px solid rgba(0,0,0,0.1); margin:0 0 0 10px; padding:0; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; color:#FFF; width:635px; float:right; background:url(../images/cm-theme/bg-y2.png);}
.line-box-register{width:800px; float:left; height:30px; margin-bottom:10px; position:relative; top:-25px; left:120px;}
.register-box-tr{height:35px; float:left;}

.error_info {position:relative; padding:10px; margin:0; color:#fff; background:url(../images/cm-theme/btn-red.png) repeat-x #8a0d04; opacity:0.9; filter:alpha(opacity=90); box-shadow: 1px 2px 5px #000;
-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; min-height:10px; float:left;}
.position-top{top:-90px; left:-175px;}
.error_info.left {margin-left:40px;	 top:-10px; left:-10px;}
.error_info:after {content:""; position:absolute; bottom:-20px; left:280px; border-width:20px 0 0 20px; border-style:solid; border-color:#8a0d04 transparent; display:block; width:0;}
.error_info.left:after {top:7px; left:-39px; bottom:auto; border-width:15px 40px 0 0; border-color:transparent #8a0d04;}

a.btn-user-action{display:block; width:300px; height:38px; background:url(../images/cm-theme/btn-action.png) repeat-x; border:1px solid rgba(255,255,255,0.8); -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; margin:0 0 5px 0; line-height:38px; padding-left:30px; font-size:14px; font-weight:bold;}
a:hover.btn-user-action{background:url(../images/cm-theme/btn-action-over.png) repeat-x; color:#000;}

span.icon-action{float:right; width:21px; margin-right:20px; margin-top:5px;}
.label-profile-box{ width:170px; display:block; float:left;}
.label-profile-box-right{ width:330px; display:block; float:left;}
/*Photo Gallery*/
#container-photo-gallery{ height:auto; width:1020px; float:left;}
ul#photo-gallery{display:block; margin:0; padding:0;}
ul#photo-gallery li{display:block; margin:0; padding:0;}

/*Profile edit*/
.line-txt-profile-edit{height:30px; float:left; width:846px;}
strong.txt-profile-edit{ display:block; float:left; width:215px; height:30px; line-height:30px;}

.btn-coin{padding:10px;  float:left; margin:10px;}
.btn-coin a{display:block; font-size:16px; width:396px; height:80px; line-height:80px; border:2px solid rgba(62,3,0,0.8); -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background:url(../images/cm-theme/btn-coin.png) no-repeat;}
.btn-coin a:hover{color:#000; background:url(../images/cm-theme/btn-coin-over.png) no-repeat;}
.btn-coin a span{float:right; margin-right:20px;}

/*chat*/

#container-chat{height:auto; float:left; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; margin:10px 0; border:2px solid rgba(255,255,255,0.8); width:1020px; height:auto; box-shadow: 1px 1px 5px #000; /*background:url(../images/cm-theme/bg-box_03.png) repeat-x #bf8f50;*/ background:url(../images/cm-theme/bg-chat.png)}

a.delete-chat{position:relative; float:right; opacity:0.2; filter:alpha(opacity=20); width:16px; height:16px; background:url(../images/cm-theme/close.png) no-repeat; margin-right:5px; margin-top:2px;}
a:hover.delete-chat{opacity:1; filter:alpha(opacity=100);}
li.message_contact {list-style:none; color: #000; font-weight: bold; cursor: pointer; height: 60px; padding-top: 2px; padding-bottom:2px; border-bottom:1px solid #000; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin:2px 5px 0 2px;  background: url(../images/cm-theme/bg-chat-contact.png) repeat-x; color:#fff;}
li.active {color:#000; background:url(../images/cm-theme/bg-chat-contact-active.png) repeat-x;}
li.new {}
li.new-list { background:url(../images/cm-theme/bg-chat-contact-new.png) repeat-x !important; color:#000;}
span.notification { color: #fd0000; text-shadow: #905100 1px 1px 2px;}

#contactListArea {float: left; width: 300px; /*background-color:rgba(252,138,0,0.3);*/
-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
#messagesArea {float: left; width:720px; /*background-color:rgba(157,144,105,0.9);*/ float:left; background:url(../images/cm-theme/bg-chat-02.png) repeat-x;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;}

.contactImage {float: left; width: auto; padding: 0; border:1px solid #fff; background:#FFF; margin:4px 5px 5px 5px; height:50px;}
.contactName {float: left; width: auto; margin-top:10px;}

.fav-chat{position:relative; top:-17px; left:-5px; width:21px;}

#contactList{overflow-y: auto; overflow-x: hidden; width:295px; height:538px !important; padding: 0px; float:left; margin:2px 0 0 2px;}
/**/
#messagesListArea::-webkit-scrollbar,
#contactList::-webkit-scrollbar {width: 10px;height: 10px;}
#messagesListArea::-webkit-scrollbar-button:start:decrement,
#messagesListArea::-webkit-scrollbar-button:end:increment,
#contactList::-webkit-scrollbar-button:start:decrement,
#contactList::-webkit-scrollbar-button:end:increment  {height: 10px; display: block; background-color: transparent;}
#messagesListArea::-webkit-scrollbar-track-piece,
#contactList::-webkit-scrollbar-track-piece  {background-color: #353d5d; -webkit-border-radius: 10px;}
#messagesListArea::-webkit-scrollbar-thumb:vertical,
#contactList::-webkit-scrollbar-thumb:vertical {height: 50px; background-color:#F8981D; border: 0px solid #eee; -webkit-border-radius: 10px;}
/*chat list*/
li.message_list {list-style:none; color: black; padding-bottom: 20px; max-width:400px; margin:2px; padding:5px; font-size:12px;}
#messagesListArea {height: 315px !important; overflow-y: auto; overflow-x: hidden; padding:2px; border:1px solid #fbcb8e; margin:8px; background:url(images/chat-bg.jpg) bottom no-repeat #fdd194; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background: url(../images/cm-theme/field_norm.gif) repeat-x #f3e5bd;}
li.sender{float:left;}
li.receiver{float:right;}
li.sender span.message{background:#dedede; padding:8px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:auto; margin:2px 2px 2px 20px; float:left; box-shadow: 1px 1px 3px #000;}
li.receiver span.message{background:#b7ff4c; padding:8px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:auto; margin:2px 2px 2px 20px; float:left; box-shadow: 1px 1px 3px #000;}

a.sms{display:block; padding:10px; float:left; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; width:200px; text-align:center; color:#000; font-weight:bold; margin-left:6px; border:2px solid #FFF; background:url(../images/cm-theme/btn-action-over.png) repeat-x;}
a:hover.sms, a:focus.sms{color:#000; border:2px solid #fdbe00; background:url(../images/cm-theme/btn-action03.png) repeat-x;}
a.email{display:block; padding:10px; float:left; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; width:200px; text-align:center; color:#000; font-weight:bold; margin-left:10px;  border:2px solid #fff; background:url(../images/cm-theme/btn-action-over-02.png) repeat-x;}
a:hover.email, a:focus.email{color:#000; border:2px solid #fdbe00; background:url(../images/cm-theme/btn-action03.png) repeat-x;}

#sms{width:650px; height:60px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  color: #393737;  background: url(../images/cm-theme/field_norm.gif) repeat-x #f3e5bd; padding:5px;  border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #73530f; border-right-color: #d7a436; border-bottom-color: #c6b082; border-left-color: #895d00; border-radius: 5px; float:left; padding:5px;}
#sms:focus {color: #393737;  background: url(../images/cm-theme/field_focus.gif) repeat-x #c3ed9a;}

.container-btn-chat-submit{width:470px; float:left; margin:0 0 20px 130px;}

.small-icon{ float:right;}
a.edit-icon{ background:url(../images/cm-theme/edit-icon_03.png) no-repeat; width:18px; height:18px; display:block; opacity:0.3; filter:alpha(opacity=30);}
a:hover.edit-icon{opacity:1; filter:alpha(opacity=100);}

/*scrollbar*/
.content{margin:0; width:880px; height:120px; padding:0; overflow:auto; clear:both;}
.content02{margin:0; width:1024px; height:320px; padding:0; overflow:auto; clear:both;}
.content .images_container{overflow:hidden;}
a[rel='toggle-buttons-scroll-type'].off{opacity:0.5;}

/*PAYMENT*/
.package-box{padding:10px; float:left; margin-right:1px; width:200px; text-align:center; font-size:18px; font-weight:bold; background:url(../images/cm-theme/btn-action02.png) repeat-x; height:18px; color:#000;}
.radius-left{-webkit-border-top-left-radius: 15px;-webkit-border-bottom-left-radius: 15px;-moz-border-radius-topleft: 15px;-moz-border-radius-bottomleft: 15px;border-top-left-radius: 15px;border-bottom-left-radius: 15px;}
.radius-right{-webkit-border-top-right-radius: 15px;-webkit-border-bottom-right-radius: 15px;-moz-border-radius-topright: 15px;-moz-border-radius-bottomright: 15px;border-top-right-radius: 15px;border-bottom-right-radius: 15px;}
.payment-medthod-01{float:left; padding:5px 0; width:auto; height:20px; line-height:25px; margin-bottom:20px;}
.payment-medthod-02{float:left; padding:5px 0; width:120px; height:20px; line-height:30px; text-align:right; margin-bottom:20px; margin-right:10px;}
.payment-medthod-03{float:left; padding:5px 0; width:25px; height:20px; line-height:25px; margin-bottom:20px;}
.payment-medthod-04{float:left; padding:5px 0; width:300px; height:20px; line-height:20px; margin-bottom:20px;}
.payment-medthod-04 span{display:block; height:20px; float:right;}
a.btn-pay{background:url(../images/cm-theme/btn-action-over.png) repeat-x; height:38px; display:block; float:left; font-size:14px; color:#000; line-height:38px; padding:0 20px; font-weight:bold; width:320px; text-align:center; margin-left:80px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; border:1px #000 solid;}
a:hover.btn-pay{background:url(../images/cm-theme/btn-action02.png) repeat-x;}

/*Edit Profile*/
.edit-profile-01{font-weight:bold; display:block; float:left; width:120px; height:30px; margin-bottom:1px; line-height:30px;}
.description-edit{width:630px; height:50px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  color: #393737;  background: url(../images/cm-theme/field_norm.gif) repeat-x #f3e5bd; padding:5px;  border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #73530f; border-right-color: #d7a436; border-bottom-color: #c6b082; border-left-color: #895d00; border-radius: 5px; float:left; padding:5px;}
.description-edit:focus {color: #393737;  background: url(../images/cm-theme/field_focus.gif) repeat-x #c3ed9a;}

#new_msg{background:url(../images/cm-theme/alert.png) no-repeat;}

/*admin*/
.left-menu{display:block;  background:url(../images/cm-theme/btn-action.png) repeat-x; height:38px; text-align:center; padding:0 10px; width:200px; line-height:38px; margin-bottom:1px; font-weight:bold;}
.left-menusub{display:block; background:url(../images/cm-theme/btn-action02.png) repeat-x; height:28px; text-align:center; padding:0 10px; width:188px; line-height:28px; margin-bottom:1px; margin:0 5px 0 5px; color:#000; font-weight:bold;}


a.butregisin{display:block; background:url(../images/cm-theme/btn-yellow.png) repeat-x; width:170px; height:25px; color:#000; text-align:center; line-height:26px; font-size:12px; font-weight:bold; text-shadow: #fff 1px 1px 4px; float:left; margin-top:8px; border:2px solid #1c1d20; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin-right:5px;}
a:hover.butregisin{color:#663300;}

a.btn-admin{display:block; background:url(../images/cm-theme/btn-yellow.png) repeat-x; width:170px; height:25px; color:#000; text-align:center; line-height:26px; font-size:12px; font-weight:bold; text-shadow: #fff 1px 1px 4px; float:left; margin-top:8px; border:2px solid #1c1d20; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin-right:5px;}
a:hover.btn-admin{color:#663300;}

.link1{color:#663300; font-weight:bold;}
.admin-link{color:#000; font-weight:bold;}
h1.admin-title{color:#fff; display:block; background:#2d2d2d; padding:10px; margin:0; font-size:18px; text-transform:uppercase;}
.text-admin{float:left; color:#000; height:40px; width:120px; line-height:30px; text-align:left; font-weight:bold;}

.page{/*background-color:rgba(252,138,0,0.8);*/ background:url(../images/cm-theme/bg-y1.png); margin:10px; padding:5px;  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; float:left;}
.page a.num-pager{display:block; float:left; /*background-color:rgba(0,0,0,0.8);*/ background:#332008; margin:0 1px; padding:5px;  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.page span {display:block; float:left; /*background-color:rgba(142,14,4,0.8);*/ background:#a52b0b; margin:0 1px; padding:5px;  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; color:#FFF;}
a.pre-pager, a.next-pager{float:left; /*background-color:rgba(0,0,0,0.8);*/ background:#332008; margin:0 1px; padding:5px;  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
a:hover.pre-pager, a:hover.next-pager{/*background-color:rgba(142,14,4,0.8);*/ background:#a52b0b;}

img.grey {filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: url(desaturate.svg#greyscale); filter: gray; -webkit-filter: grayscale(1);}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000; /*background:url(../images/cm-theme/bg-metropopup.png);*/
  display:none;
}
  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  display:none;
  z-index:9999;
}

#dialogForget, #dialogBonus, #dialogVerifyMobile,#dialogChangeEmail {
	width: 100%;
}

a.btn-popup{display:block; height:auto; border:2px solid #FFF; float:left; padding:5px; margin:0 10px; font-weight:bold;}
a:hover.btn-popup{ background:#fdbe00; color:#000;}

#container-recent{float:left; width:880px; padding:0px; margin:0;}
#container-recent fieldset{ width:415px; float:left; height:50px; border:0; border-top:1px solid #442600;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
#container-recent fieldset legend{color:#FFF; padding:5px; text-transform:uppercase; font-weight:bold;}

.container-bonuscode{background:#fdbe00; float:left; padding:0 0 10px 0; margin:0 10px 10px 10px; text-align:center; width:1002px; border:1px solid #e4a351;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.container-metropopup{background:#59669d; padding:10px; color:#FFF; position:relative; /*top:-100px;*/}
.metropopup-content{line-height:20px; width:50%; min-width:500px !important; margin:10px 10px 10px 10px; padding:10px; height:auto; left:25%; position:relative; padding-bottom:20px;}

.request{color:#F00;}

/*metroNotification box backgroup*/
.fadeInRight {
	background:#21263c;
}

#button_Worldpay {
	display:block;
	width:433px;
	height:70px;
	float:left;
	margin-right:7px;
	margin-bottom:10px;
	background: url(../images/payment/payment-page-btn-credit-card.png);
	background-repeat: no-repeat;
	padding-top: 60px;
}
#button_Worldpay img {max-height: 25px;}
#button_Worldpay table {text-align: left !important;}

#button_Ukash {
	display:block;
	width:433px;
	height:130px;
	float:left;
	margin-right:7px;
	margin-bottom:10px;
	background: url(../images/payment/payment-page-btn-ukash.png);
	background-repeat: no-repeat;
}

#button_Ccbill {
	display:block;
	width:433px;
	height:130px;
	float:left;
	margin-right:7px;
	margin-bottom:10px;
	background: url(../images/payment/payment-page-btn-giropay.png);
	background-repeat: no-repeat;
}

#button_Paysafecard {
	display:block;
	width:433px;
	height:130px;
	float:left;
	margin-right:7px;
	margin-bottom:10px;
	background: url(../images/payment/payment-page-btn-paysafecard.png);
	background-repeat: no-repeat;
}

#button_Paymentwall {
	display:block;
	width:433px;
	height:130px;
	float:left;
	margin-right:7px;
	margin-bottom:10px;
	background: url(../images/payment/payment-page-btn-paymentwall.png);
	background-repeat: no-repeat;
}

#button_Realex {
	display:block;
	width:433px;
	height:130px;
	float:left;
	margin-right:7px;
	margin-bottom:10px;
	background: url(../images/payment/payment-page-btn-realex.png);
	background-repeat: no-repeat;
}

/*Faq page*/
h3.accordion{cursor:pointer; border-bottom:1px solid #979797; padding-bottom:10px;}

/* btn pay for coins*/
.container-box-content-payforcoins{line-height:20px; width:auto; float:left; margin:10px 10px 10px 10px; border:1px solid #000; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background:#fff6dd; padding:10px;}
.container-box-payforcoins{margin:0 0 10px 10px; padding:50px; float:left; width:904px; background:#fff6dd; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; height:auto;}
.container-payforcoin-font{margin-left:43px; padding-top:60px; float:left; text-align:center;}
.fontLeft{font-size:14px; color:#fdbe00; font-weight:bold; float:left; text-shadow: 1px 1px #000;}
.fontright{font-size:14px; color:#fdbe00; font-weight:bold; float:left; margin-left:20px; text-shadow: 1px 1px #000;}

a.btn-back-page{display:block; font-size:16px; font-weight:bold; height:30px; line-height:30px; text-align:center; background:url(../images/cm-theme/btn-action.png) repeat-x; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border:2px #FFF solid;}
a:hover.btn-back-page{background:url(../images/cm-theme/btn-action02.png) repeat-x; color:#000;}

/*register popup form*/
.profile-form-register-popup{background-color:rgba(0,0,0,0.5); border:2px solid rgba(0,0,0,0.1); margin:0 0 0 10px; padding:0; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; color:#FFF; 
width:900px;}

a.register-btn-top{background:url(../images/cm-theme/register-now.png) no-repeat; width:242px; height:60px; float:right; margin-top:20px; display:block;}
a.register-btn-top span{display:none;}

.upload-pic{position:absolute; background:url(../images/cm-theme/upload-pic.png) no-repeat; width:121px; height:23px;}
.del-pic{display:block; background:url(../images/cm-theme/del-pic.png) no-repeat; width:121px; height:23px; text-align:center; line-height:22px; margin-top:2px; font-weight:bold;}

/*Attachments coins*/
.container-select-coins{width:950px; margin:0 auto; height:auto;}
.container-select-coins h2{text-align:center; margin-bottom:20px;}
/*ul.container-attachments-coins{display:block; float:left; margin:0 auto 10px auto; padding:0; width:950px; height:120px;}*/
ul.container-attachments-coins{display:block; float:left; margin:0 auto; padding:0; width:auto; height:120px;}
ul.container-attachments-coins li{display:block; float:left; background:url(../images/cm-theme/attachments-coins.png) no-repeat; width:122px; height:120px; margin-left:12px;}
ul.container-attachments-coins li a span{display:block; font-size:24px; font-weight:bold; line-height:120px; text-align:center; text-shadow: #000 1px 1px 5px;}
.del-attachments{background:url(../images/cm-theme/s-icon-del-attach.png) no-repeat; height:15px; width:15px; display:block; float:left; margin-top:2px; margin-left:5px;}
#attachments-coins{display:block; margin-left:10px; float:left; width:70px; margin-bottom:5px; padding:5px;}
#attachments-coins-2{display:block; margin-left:5px; float:left; width:auto; margin-bottom:0; padding:0; margin-top:0;}
.container-attach-display{background:#F00;}
.container-attach-display span{line-height:20px; display:block; float:left; color:#FFF; font-weight:bold;}
.container-attach-display img{float:left;}
.message p{padding:0; margin:0; float:left; line-height:20px;}

table.dataTable tr.odd { background-color: #ccb691 !important;}
table.dataTable tr.even { background-color: #fde6be !important; }


table.dataTable tr.odd td.sorting_1 { background-color: #bca681 !important; }
table.dataTable tr.odd td.sorting_2 { background-color: #bca681 !important; }
table.dataTable tr.odd td.sorting_3 { background-color: #bca681 !important; }
table.dataTable tr.even td.sorting_1 { background-color: #edd6ae !important; }
table.dataTable tr.even td.sorting_2 { background-color: #edd6ae !important; }
table.dataTable tr.even td.sorting_3 { background-color: #edd6ae !important; }

#iconlist{position: absolute; z-index: 10; display: none; padding: 10px; width: 700px; height: auto; border-radius: 5px; background:url(../images/cm-theme/noise.png) #e0e0e0;}

span.text-agb{display:block; width:470px; float:left; margin-left:5px; line-height:1.3em;}
span.text-agb a{color:#FC0;}
span.text-agb a:hover{color:#F60;}

#email_result{background-image:linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%); background-image:-webkit-linear-gradient(top,#f2dede 0,#e7c3c3 100%); background-repeat:repeat-x; border-color:#ebccd1; color:#a94442; padding:15px; text-shadow:0 1px 0 rgba(255,255,255,.2); -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; width:70%; 
margin:0 auto; border:1px #FF0000 solid;}
#email_result font{font-size:14px; font-weight:bold; color:#F00;}
#email_result a{color:#344b1d; font-weight:bold; padding-left:10px;} 
#email_result a:hover{color:#950004;}
