<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>flirtino.net-mobile</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" type="text/css"/>
	</head>
    
	<body >
    <header>
    	
        <a href="index.htm"><div class="container-logo"></div></a>
        
    </header>
                
    <div class="wrap">
   		<div class="container-login-box">
            <div class="container-form-login">
                <form>
                    <input name="" type="text" placeholder="Benutzername" style="margin-top:20px;">
                    <input name="" type="password" placeholder="Passwort">
                    <div style="float:left; width:100%; float:left;">
                        <input name="" type="checkbox" value="" style="margin-right:5px; float:left; margin-top:3px;"><span style="float:left; color:#FFF;">Angemeldet bleiben</span>
                        <a href="#" class="forgetpass">Passwort vergessen?</a>
                        <br class="clear">
                        <a href="index.htm" class="btn-01 login">Login</a>
                    </div>
                </form>
            </div>
            <br class="clear">
        </div>
        <div class="icon-login"><img src="images/icon-login-box.png" width="51" height="44"></div>
    </div>
  <footer><a href="#">AGB's</a> | <a href="#">Impressum</a> | <a href="#">Datenschutzerklärung</a> | <a href="#">FAQ's</a> | <a href="#">Refund policy</a></footer>
	</body>
</html>