<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>flirtino.net-mobile</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" type="text/css"/>
	</head>
    
	<body >
    <header>
    	
        <a href="index.htm"><div class="container-logo"></div></a>
        
    </header>
                
    <div class="wrap">
     <div class="container-register-box">
        <div class="container-form-login">
        <h1>Herzlich Willkommen</h1>
        	<form>
                <input name="" type="text" placeholder="Nickname" style="margin-top:20px;">
                <span style="margin-bottom:7px; font-weight:bold;">Achtung :</span>
                <div>Derzeit können wir nicht sicher gehen, dass Du bei Gmail auch die Registrierungsmail erhältst. Bitte nutze nach Möglichkeit einen anderen Email Provider.</div>
                <input name="" type="text" placeholder="Email">
                <input name="" type="password" placeholder="Passwort">
                
                <span style="margin-bottom:7px; font-weight:bold;">Geburtstag:</span>
                <select name="" style="width:17%;">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                </select>
                <select name="" style="width:50%;">
                <option label="Januar" value="1">Januar</option>
                <option label="Januar" value="1">Januar</option>
                <option label="Januar" value="1">Januar</option>
                </select>
                <select name="" style="width:30%;">
                <option>1996</option>
                <option>1996</option>
                <option>1996</option>
                </select>
                
                <span style="margin-bottom:7px; font-weight:bold;">Geschlecht:</span>
                <div>
                <input name="" type="radio" value="">Mann
                <input name="" type="radio" value="">Frau
                </div>
                
                <span style="margin-bottom:7px; font-weight:bold;">Nationalität:</span>
                <select name="">
                <option label="Deutschland" value="1">Deutschland</option>
                <option label="Deutschland" value="1">Deutschland</option>
                <option label="Deutschland" value="1">Deutschland</option>
                </select>
                
                <div style="float:left; width:100%; float:left;">
                    
                    <div style="width:5%; float:left; margin-right:2%;"><input name="" type="checkbox" value="" style="margin-top:3px;"></div>
                    <span style="float:left; width:93%;">
                    Ich habe die Allgemeinen Geschäftsbedingungen und die Datenschutzerklärung gelesen und stimme diesen zu!
                    </span>
                    <br class="clear">
                    <a href="index.htm" class="btn-01">Schnellregistrierung</a>
                    <a href="#" class="btn-01 facebook">Mit Facebook Registrieren!</a>
                </div>
          </form>
        </div>
        <br class="clear">
        </div>
    </div>
  <footer><a href="#">AGB's</a> | <a href="#">Impressum</a> | <a href="#">Datenschutzerklärung</a> | <a href="#">FAQ's</a> | <a href="#">Refund policy</a></footer>
	</body>
</html>